# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}

##
## LDA specific settings (also used by LMTP)
##

protocol lda {
{% if dovecot_mail_plugins is defined and dovecot_mail_plugins %}
{% if dovecot_mail_plugins.lda is defined and dovecot_mail_plugins.lda %}
  mail_plugins = {{ " ".join(dovecot_mail_plugins.lda) }}
{% endif %}
{% endif %}
}
